In [2]:
import pandas as pd
import numpy as np
import time
from datetime import datetime

# 字符串、时间戳互转

## 字符串转为时间

- 第一步：将时间字符串转换成时间元组 time.strptime

- 第二步：将时间元组转换成时间戳类型 time.mktime

## 时间转为字符串

- 第一步：用localtime将时间戳转换成local_time,时间元组

- 第二步：用strftime将local_time转换成可读字符串

In [3]:
date_list = [['1', '2021-01-19 16:27:28'], ['2', '2021-01-20 16:27:28'], ['3', '2021-01-21 16:27:28']]
df = pd.DataFrame(date_list, columns=['a', 'b'])

In [4]:
df

   a                    b
0  1  2021-01-19 16:27:28
1  2  2021-01-20 16:27:28
2  3  2021-01-21 16:27:28

In [5]:
df['b'].apply(lambda x: time.mktime(time.strptime(x, '%Y-%m-%d %H:%M:%S')))

0    1.611045e+09
1    1.611131e+09
2    1.611218e+09
Name: b, dtype: float64

In [6]:
timestamp = 1.521708e+09

In [7]:
timestamp

1521708000.0

In [8]:
time_local = time.localtime(timestamp)

In [9]:
time_local

time.struct_time(tm_year=2018, tm_mon=3, tm_mday=22, tm_hour=16, tm_min=40, tm_sec=0, tm_wday=3, tm_yday=81, tm_isdst=0)

In [10]:
time.strftime('%Y-%m-%d %H:%M:%S', time_local)

'2018-03-22 16:40:00'